---
---

@import "{{ site.theme }}";

h1, h2, h3, h4 {
  color: #BDF995;}

h4 {
  font-style: italic;
  margin-bottom: 0;}

body {
  color: #FFFFFF;
  background-color: #20202B;}

a:link, a:visited {
  color: #BDF995;
  font-weight: normal;}

a:hover {
  color: #FFFFFF;
  font-weight: normal;
  transition: 0.15s ease-in-out;}

table, tr, td, th {
  padding: 0px;
  border: none;}

pre {
  color: #FFFFFF;
  font-size: x-small;
  background-color: #20202B;
  border: 1px solid #BDF995;}

button {
  color: #FFFFFF;
  line-height: 1;
  font-size: 0.875rem;
  text-align: center;
  vertical-align: middle;
  padding: 0.25rem 0.5rem;
  border: 1px solid #BDF995;
  border-radius: 15%;
  margin-top: 0.25rem;}

.btn-url, .btn-pdf, .btn-bib {
  background-color: #20202B;}

.btn-pdf:hover, .btn-url:hover, .btn-bib:hover {
  color: #20202B;
  background-color: #BDF995;
  transition: 0.15s ease-in-out;}

.reference > p, .talkbox > p {
  padding-left: 2rem;
  text-indent: -2rem;
  font-size: smaller;
  text-align: justify;}

.talkbox {
  padding: .5rem;
  padding-right: .5rem;
  border: 2px solid #BDF995;
  border-radius: 2%;
  overflow-y: overlay;
  scrollbar-color: #BDF995 transparent;
  height: 400px;}

p.last {
  margin-bottom: 0;}
