---
---

@import "{{ site.theme }}";

h1, h2, h3, h4 {
  color: #BDF995;}

h4 {
  font-style: italic;
  margin-bottom: 0;}

body {
  color: #FFFFFF;
  background-color: #20202B;}

a:link, a:visited {
  color: #BDF995;
  font-weight: normal;}

a:hover {
  color: #FFFFFF;
  font-weight: normal;
  transition: 0.15s ease-in-out;}

table, tr, td, th {
  padding: 0px;
  border: none;}

pre {
  color: #FFFFFF;
  font-size: x-small;
  background-color: #303030;
  border: 0px;}

button {
  color: #FFFFFF;
  line-height: 1;
  font-size: 0.875rem;
  text-align: center;
  vertical-align: middle;
  padding: 0.25rem 0.5rem;
  border: 1px solid #BDF995;
  border-radius: 15%;
  margin-top: 0.25rem;}

.btn-url, .btn-pdf, .btn-bib {
  background-color: #20202B;}

.btn-pdf:hover, .btn-url:hover, .btn-bib:hover {
  background-color: #BDF995;
  transition: background-color 5s ease-in-out;
  color: #20202B;
  transition: color 5s ease-in-out;}

.reference > p {
  padding-left: 2rem;
  text-indent: -2rem;
  font-size: smaller;
  text-align: justify;}
